body {
    margin: 0;
    background: #111827;
    text-align: center;
    
}

.score {
    font-family: fantasy;
    font-style: normal;
    background: #0a0001;
    font-size: 90px;
    line-height: 125px;
    color: #F94F6D;
    height: auto;
    width: 180px;
    margin: 20px;
    border-radius: 10px;
}

.column h3  {
    color: aliceblue;
    position: auto;
    font-size: 50px;
    text-align: center;
    
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    /* box-sizing: border-box;
    background: #111827;
    width: 40px;
    height: 50px;
    left: 82px;
    top: 300px;
    font-size: larger;
    text-align: center;
    color: #9AABD8;
    border-color: #9AABD8;
    border-radius: 3px;
    position: absolute;
    width: 30px;
    height: 25.77px;
    left: 454px;
    top: 280px; */

    width: 69px;
    font-family: fantasy;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;
    color: #9AABD8;
    background-color: transparent;
border-radius: 5px;
    border-color: #9AABD8;
}

